Django>=5.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
channels[daphne]
channels-redis>=4.2.0
django-redis
redis
hiredis
gunicorn
uvicorn[standard]
whitenoise
Pillow
python-dotenv
google-auth
requests
boto3
django-storages
stripe
dj-database-url
psycopg2-binary
Faker
